<div class="col-sm-6">
	<h4>Popular</h4>
	<ul class="list-group">
		<a href="/{{popManga.a}}" class="list-group-item" ng-repeat="popManga in homePopularManga">
			<span class="badge">{{popManga.h}}</span>
			{{popManga.t}}
		</a>
	</ul>
</div>

<div class="col-sm-6">
	<h4>Latest</h4>
	<ul class="list-group">
		<a href="/{{newManga.a}}" class="list-group-item" ng-repeat="newManga in homeLatestManga">
			<span class="badge" dateAgo data-ts="{{newManga.ld}}"></span> 
			{{newManga.t}}
		</a>
	</ul>
</div>